<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lfp.support.adapter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:label="目录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasisRecyclerViewActivity"
            android:label="基础功能-增删查改" />
        <activity
            android:name=".ClickRecyclerViewActivity"
            android:label="点击和长按监听" />
        <activity
            android:name=".SlideRecyclerViewActivity"
            android:label="侧滑菜单" />
        <activity
            android:name=".ViewHolderMessageRecyclerViewActivity"
            android:label="ViewHodler消息" />
        <activity
            android:name=".OnlyAdapterRecyclerViewActivity"
            android:label="懒人模式-Adapter" />
        <activity
            android:name=".OnlyViewHolderRecyclerViewActivity"
            android:label="懒人模式-ViewHolder" />
        <activity android:name=".DiffRecyclerViewActivity" />
    </application>

</manifest>